//Despues de recoger los valores que se quieren modificar y despues que se hayan modificado se
//Envian al fichero usuario modificado donde se almacenan en la base de datos

extends layout
block contenido
  div(class="container")
    h1(class="green-text") Editar usuario
    form(action="usuario-modificado" method="post")
      div(class="input-field")
        label(for="nombre") Nombre
        input(type="hidden" name="_id" id="_id" value="#{usuario._id}")
        input(type="text" name="nombre" id="nombre" autofocus="true" value="#{usuario.nombre}")
        
      div(class="input-field")
        label(for="apellido") Apellido
        input(type="text" name="apellido" id="apellido" value="#{usuario.apellido}")

      div(class="input-field")
        label(for="edad") Edad
        input(type="number" min="0" name="edad" id="edad" value="#{usuario.edad}")

      div(class="input-field")
        label(for="pais") Pais
        input(type="text" name="pais" id="pais" value="#{usuario.pais}")
      input(type="submit" value="Aceptar")
